@model Schmohawks.Models.GigViewModel

<h4><b>@Model.Description</b></h4>
<h5><i>@Model.Venue - @Model.City, @Model.State</i></h5>
<h5><b>@Html.DisplayFor(model => model.StartTime, "DateTime")</b></h5>  

